bokeh==0.12.5
Flask==0.12.2
Flask-Cors==3.0.2
multipledispatch==0.4.9
murmurhash==0.26.4
navigator-updater==0.1.0
nbconvert==5.1.1
nbformat==4.4.0
networkx==1.11
oauthlib==2.0.6
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
packaging==16.8
pandas==0.24.0
pandas-datareader==0.7.0
pandocfilters==1.4.1
partd==0.3.8
pathlib==1.0.1
pathlib2==2.2.1
patsy==0.4.1
pbr==3.1.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
plac==0.9.6
plotly==2.2.1
ply==3.10
preshed==1.0.0
prompt-toolkit==1.0.14
protobuf==3.6.1
psutil==5.2.2
ptyprocess==0.5.1
pugnlp==0.0.12
py==1.4.33
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==1.5.0
requests==2.21.0
requests-file==1.4.2
requests-ftp==0.3.1
requests-oauthlib==0.8.0